@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    245 Memorial Drive<br />
    Cullowhee, NC 28723<br />
    <abbr title="Phone">P:</abbr>
    336.555.0100
</address>

<address>
    <strong>Email:</strong> <a href="mailto:amughal1@catamount.wcu.edu">amughal1@catamount.wcu.edu</a><br />
</address>
